@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
$grey: #afafaf;
$red: #f00;

@mixin border-decoration {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: teal;
  border-style: solid;
}

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.App {
  color: green;
}

.Game {
  width: 500px;
  height: 318px;
  background-color: $grey;
  color: $red;
  margin: auto;

  @include border-decoration;
}

.TopBar {
  height: 23px;
  display: flex;
  justify-content: space-between;

  @include border-decoration;
}

.MineCounter,
.MoveCounter {
  background-color: black;
}

.gameBoard {
  display: grid;
  width: stretch;
  height: auto;
  grid-auto-columns: minmax(16px, 16px);
  grid-auto-rows: minmax(16px, 16px);
}

.GameSquare {
  @include border-decoration;
}

.1-1 {
  grid-column: 1;
  grid-row: 1;
}

.1-2 {
  grid-row: 2;
  grid-column: 2;
}
