@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
$grey: #afafaf;
$red: #f00;

@mixin border-decoration {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: teal;
  border-style: solid;
}

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.App {
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game {
  width: auto;
  background-color: $grey;
  color: $red;
  margin: auto;

  @include border-decoration;
}

.TopBar {
  width: auto;
  height: 23px;
  display: flex;
  justify-content: space-between;

  @include border-decoration;
}

.MineCounter,
.MoveCounter {
  background-color: black;
}

.gameBoard {
  width: auto;
  display: grid;
  grid-auto-columns: minmax(16px, 16px);
  grid-auto-rows: minmax(16px, 16px);
}

.GameSquare {
  @include border-decoration;
}

.bottomLinks {
  display: flex;
  justify-content: space-around;
}

.Home {
  margin: auto;
  margin-top: 100px;
  height: 200px;
  width: 80vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.diffButtons {
  width: stretch;
  display: flex;
  justify-content: space-around;
}

.DiffButton {
  height: 20px;
  width: 200px;
}
